Repository kjanat/codoncanvas: changes, and which lefthook commands are due for each by the changed paths.
All: biome, format-css

.lefthook.yml:

# Lefthook configuration
# https://lefthook.dev/configuration/

pre-commit:
  commands:
    typecheck:
      run: bun typecheck
    biome:
      glob: "*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc,css,html}"
      run: bunx @biomejs/biome check --write --no-errors-on-unmatched --files-ignore-unknown=true --colors=off {staged_files}
      stage_fixed: true
    format:
      run: bun fmt --staged
      stage_fixed: true
    format-css:
      glob: "*.css"
      run: bun run stylelint {staged_files} --fix
      stage_fixed: true

pre-push:
  commands:
    typecheck:
      run: bun typecheck
    update-actions-opencode:
      run: .github/actions/opencode-auth/set-secrets.sh

# Validate commit messages
commit-msg:
  commands:
    "lint commit message":
      run: bun run commitlint --edit {1}

test(e2e): stabilize tutorial tests and fix component patterns
  e2e/tutorial/lesson-navigation.spec.ts
  e2e/tutorial/lesson-validation.spec.ts
  package.json
  src/components/CanvasPreview.tsx
  src/components/FilterToggle.tsx
  src/components/diff-viewer/CanvasPanel.tsx
  src/components/gallery/PreviewModal.tsx
Due: biome

chore: set share mode to manual in opencode config
  .opencode/opencode.jsonc
Due: biome

test(e2e): fix flaky tests with better selectors and assertions
  e2e/accessibility/landmarks.spec.ts
  e2e/demos/timeline-controls.spec.ts
  e2e/gallery/search-examples.spec.ts
  e2e/navigation/theme-toggle.spec.ts
  e2e/playground/codon-reference.spec.ts
  e2e/playground/undo-redo.spec.ts
  e2e/tutorial/lesson-navigation.spec.ts
  e2e/tutorial/lesson-validation.spec.ts
Due: biome

site: replace custom icons with @heroicons/react for consistency
  bun.lock
  package.json
  src/components/PlaygroundEditor.tsx
  src/components/PlaygroundToolbar.tsx
  src/components/achievement-toast/AchievementToastItem.tsx
  src/components/layout/Header.tsx
  src/components/layout/MobileMenu.tsx
  src/components/layout/NavDropdown.tsx
  src/components/layout/ThemeToggle.tsx
  src/components/toast/ToastItem.tsx
  src/components/tutorial/ModuleSidebar.tsx
  src/pages/demos/timeline/TimelineControls.tsx
  src/ui/icons/actions.tsx
  src/ui/icons/index.ts
  src/ui/icons/media.tsx
  src/ui/icons/navigation.tsx
  src/ui/icons/theme.tsx
  tests/components/DemoCard.test.tsx
  tests/ui/icons.test.tsx
Due: biome

refactor(a11y): extract OverflowMenu, fix scroll lock and ARIA patterns
  e2e/tutorial/lesson-navigation.spec.ts
  e2e/tutorial/lesson-validation.spec.ts
  src/components/PlaygroundOverflowMenu.tsx
  src/components/PlaygroundToolbar.tsx
  src/components/layout/NavDropdown.tsx
  src/components/tutorial/CodeEditor.tsx
  src/components/tutorial/ModuleSidebar.tsx
  src/hooks/useScrollLock.ts
  tests/components/PlaygroundToolbar.test.tsx
  tests/hooks/useScrollLock.test.ts
Due: biome

test(e2e): improve responsive tests and extract shared utilities
  e2e/demos/mutation-missense.spec.ts
  e2e/demos/timeline-capture.spec.ts
  e2e/demos/timeline-controls.spec.ts
  e2e/playground/codon-reference.spec.ts
  e2e/responsive/mobile-layout.spec.ts
  e2e/test-utils.ts
  scripts/analyze-complexity.ts
  src/components/FilterToggle.tsx
  src/components/PlaygroundCanvas.tsx
  src/components/PlaygroundOverflowMenu.tsx
  src/components/PlaygroundToolbar.tsx
  src/components/gallery/PreviewModal.tsx
  src/components/layout/MobileMenu.tsx
  src/components/tutorial/HintsPanel.tsx
  src/components/tutorial/LessonContent.tsx
  src/components/tutorial/ModuleSidebar.tsx
Due: biome

test(e2e): add seeded RNG for deterministic mutation tests
  e2e/accessibility/landmarks.spec.ts
  e2e/demos/mutation-silent.spec.ts
  e2e/demos/timeline-controls.spec.ts
  e2e/navigation/theme-toggle.spec.ts
  e2e/responsive/mobile-layout.spec.ts
  e2e/tutorial/lesson-validation.spec.ts
  scripts/analyze-complexity.ts
  specs/README.md
  src/components/tutorial/LessonContent.tsx
  src/genetics/mutations.ts
  src/routes/demos/mutation.tsx
  src/utils/rng.ts
Due: biome

test(e2e): expand demo coverage, add keyboard nav, parallelize CI
  .github/linters/checkov.yaml
  .github/workflows/playwright.yml
  e2e/accessibility/landmarks.spec.ts
  e2e/dashboards/teacher-dashboard.spec.ts
  e2e/dashboards/teacher-demo.spec.ts
  e2e/dashboards/teacher-empty.spec.ts
  e2e/demos/achievements-loads.spec.ts
  e2e/demos/assessment-hints.spec.ts
  e2e/demos/assessment-loads.spec.ts
  e2e/demos/assessment-start.spec.ts
  e2e/demos/assessment-submit.spec.ts
  e2e/demos/evolution-loads.spec.ts
  e2e/demos/genetic-loads.spec.ts
  e2e/demos/population-loads.spec.ts
  e2e/gallery/load-from-gallery.spec.ts
  src/components/PlaygroundOverflowMenu.tsx
  src/components/gallery/PreviewModal.tsx
  src/components/tutorial/ModuleSidebar.tsx
  tests/components/PlaygroundToolbar.test.tsx
  tests/utils/rng.test.ts
Due: biome

refactor(e2e): extract shared setup helpers to reduce test duplication
  e2e/dashboards/teacher-demo.spec.ts
  e2e/demos/assessment-hints.spec.ts
  e2e/demos/assessment-submit.spec.ts
  e2e/test-utils.ts
Due: biome

fix(ci): include bun.lockb in cache key hash
  .github/actions/setup-bun/action.yml
Due: none

chore(serena): configure multi-language LSP and exclude redundant tools
  .serena/project.yml
Due: none

refactor: deduplicate shared code via base-renderer and nav-data
  .jscpd.json
  src/components/layout/MobileMenu.tsx
  src/components/layout/NavDropdown.tsx
  src/components/layout/Navigation.tsx
  src/components/layout/nav-data.ts
  src/core/base-renderer.ts
  src/core/canvas-renderer.ts
  src/core/svg-renderer.ts
  src/hooks/index.ts
  src/hooks/useShareUrl.ts
  src/routes/dashboards/learning.tsx
  src/routes/dashboards/research.tsx
  src/routes/dashboards/teacher.tsx
  src/routes/demos/index.tsx
  src/routes/gallery.tsx
  src/routes/tutorial.tsx
  tests/core/renderer.test.ts
Due: biome

test(core): add resize() coverage for Canvas2DRenderer
  tests/core/renderer.test.ts
Due: biome

docs: clarify git push restrictions for AI agents
  AGENTS.md
Due: none

refactor: improve accessibility, renderer architecture, and code cleanup
  docs/AUDIO_MODE.md
  src/components/PlaygroundOverflowMenu.tsx
  src/components/layout/MobileMenu.tsx
  src/components/layout/NavDropdown.tsx
  src/components/tutorial/ModuleSidebar.tsx
  src/core/base-renderer.ts
  src/core/canvas-renderer.ts
  src/hooks/useScrollLock.ts
  src/routes/demos/mutation.tsx
Due: biome

feat(MobileMenu): animate drawer with framer-motion
  bun.lock
  package.json
  src/components/layout/MobileMenu.tsx
Due: biome

docs: improve research framework with fidelity measurement and formatting
  claudedocs/RESEARCH_FRAMEWORK.md
  claudedocs/dna_inspired_programming_language_proposal_summary.md
  docs/ASSESSMENTS.md
  docs/EDUCATORS.md
  docs/LESSON_PLANS.md
  docs/MVP_Technical_Specification.md
  docs/RESEARCH_FOUNDATION.md
  docs/RESEARCH_METRICS.md
  docs/SUPPORT.md
  e2e/test-plan.md
Due: none

refactor: extract navigation types and improve E2E test assertions
  e2e/dashboards/teacher-dashboard.spec.ts
  e2e/demos/achievements-loads.spec.ts
  e2e/demos/evolution-loads.spec.ts
  e2e/demos/genetic-loads.spec.ts
  e2e/demos/mutation-silent.spec.ts
  e2e/demos/population-loads.spec.ts
  e2e/gallery/load-from-gallery.spec.ts
  src/components/index.ts
  src/components/layout/NavDropdown.tsx
  src/components/layout/Navigation.tsx
  src/components/layout/index.ts
  src/components/layout/nav-data.ts
  src/types/index.ts
  src/types/navigation.ts
Due: biome

feat: rewrite engine in Rust/WASM and site in Svelte; fix negative offsets
  .github/workflows/deploy.yml
  .gitignore
  README.md
  engine/Cargo.lock
  engine/Cargo.toml
  engine/README.md
  engine/core/Cargo.toml
  engine/core/src/base.rs
  engine/core/src/codon.rs
  engine/core/src/examples.rs
  engine/core/src/genome.rs
  engine/core/src/lexer.rs
  engine/core/src/lib.rs
  engine/core/src/mutation.rs
  engine/core/src/opcode.rs
  engine/core/src/vm.rs
  engine/wasm/Cargo.toml
  engine/wasm/src/lib.rs
  web/README.md
  web/index.html
  web/package.json
  web/scripts/build-wasm.sh
  web/src/App.svelte
  web/src/app.css
  web/src/lib/components/CanvasView.svelte
  web/src/lib/engine/index.ts
  web/src/lib/engine/types.ts
  web/src/lib/render.ts
  web/src/lib/router.svelte.ts
  web/src/lib/state.svelte.ts
  web/src/main.ts
  web/src/views/About.svelte
  web/src/views/Gallery.svelte
  web/src/views/MutationLab.svelte
  web/src/views/Playground.svelte
  web/src/views/Reference.svelte
  web/svelte.config.js
  web/tsconfig.json
  web/vite.config.ts
Due: biome, format-css

ci: scope engine/ and web/ out of the React-app linters
  .dprint.jsonc
  .jscpd.json
  biome.jsonc
  tsconfig.json
Due: biome

ci(deploy): set up Bun directly so the Svelte build skips the root audit gate
  .github/workflows/deploy.yml
Due: none

docs: use underscore emphasis in README to satisfy dprint markdown
  README.md
Due: none

feat(web): Evolution Lab, playground file ops + timeline playback, gallery filters
  engine/core/src/lib.rs
  engine/core/src/mutation.rs
  engine/wasm/src/lib.rs
  web/src/App.svelte
  web/src/app.css
  web/src/lib/components/CanvasView.svelte
  web/src/lib/engine/index.ts
  web/src/lib/genome-io.ts
  web/src/lib/router.svelte.ts
  web/src/views/EvolutionLab.svelte
  web/src/views/Gallery.svelte
  web/src/views/Playground.svelte
Due: biome, format-css

fix(web): only show viable offspring in Evolution Lab; explain lethal mutants
  web/src/views/EvolutionLab.svelte
  web/src/views/MutationLab.svelte
Due: none

fix(engine): default to light ink so colorless genomes are visible on dark canvas
  engine/core/src/vm.rs
Due: none

Terse up deploy.yml
  .github/workflows/deploy.yml
Due: none

feat(examples): replace minimal examples with a colorful, varied gallery
  engine/core/src/examples.rs
Due: none

Fix deploy.yml
  .github/workflows/deploy.yml
Due: none

Update deploy.yml
  .github/workflows/deploy.yml
Due: none

ci: install wasm-bindgen-cli via taiki-e/install-action in Pages deploy
  .github/workflows/deploy.yml
Due: none

Add Evolution Lab, playback controls, and genome I/O features (#9)
  engine/core/src/examples.rs
  engine/core/src/lib.rs
  engine/core/src/mutation.rs
  engine/core/src/vm.rs
  engine/wasm/src/lib.rs
  web/src/App.svelte
  web/src/app.css
  web/src/lib/components/CanvasView.svelte
  web/src/lib/engine/index.ts
  web/src/lib/genome-io.ts
  web/src/lib/router.svelte.ts
  web/src/views/EvolutionLab.svelte
  web/src/views/Gallery.svelte
  web/src/views/MutationLab.svelte
  web/src/views/Playground.svelte
Due: biome, format-css

Delete claudedocs directory
  claudedocs/DEVOPS_MATURITY_SUMMARY.md
  claudedocs/QUICK_REFERENCE.md
  claudedocs/RESEARCH_DATA_GUIDE.md
  claudedocs/RESEARCH_FRAMEWORK.md
  claudedocs/dna_inspired_programming_language_proposal_summary.md
Due: none
