Repository kjanat/codoncanvas: changes, and which lefthook commands are due for each by the changed paths.
All: biome, format-css

.lefthook.yml:

# Lefthook configuration
# https://lefthook.dev/configuration/

pre-commit:
  commands:
    typecheck:
      run: bun typecheck
    biome:
      glob: "*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc,css,html}"
      run: bunx @biomejs/biome check --write --no-errors-on-unmatched --files-ignore-unknown=true --colors=off {staged_files}
      stage_fixed: true
    format:
      run: bun fmt --staged
      stage_fixed: true
    format-css:
      glob: "*.css"
      run: bun run stylelint {staged_files} --fix
      stage_fixed: true

pre-push:
  commands:
    typecheck:
      run: bun typecheck
    update-actions-opencode:
      run: .github/actions/opencode-auth/set-secrets.sh

# Validate commit messages
commit-msg:
  commands:
    "lint commit message":
      run: bun run commitlint --edit {1}

docs: rewrite TESTING.md for Bun native test runner
  docs/TESTING.md
Due: none

docs: update documentation for React 19 and Bun migration
  README.md
  docs/ACADEMIC_RESEARCH_PACKAGE.md
  docs/ASSESSMENT_SYSTEM.md
  docs/CHANGELOG.md
  docs/CICD_ASSESSMENT_README.md
  docs/CICD_DEVOPS_ASSESSMENT.md
  docs/CLI.md
  docs/CONTRIBUTING.md
  docs/DEPLOYMENT.md
  docs/EDUCATORS.md
  docs/GAMIFICATION_GUIDE.md
  docs/LESSON_PLANS.md
  docs/OPCODES.md
  docs/PERFORMANCE.md
  docs/PILOT_PROGRAM_GUIDE.md
  docs/RESEARCH_METRICS.md
  docs/RUNBOOKS.md
  docs/TESTING_QUICK_REFERENCE.md
Due: none

feat(config): add tagline support and responsive UI polish
  AGENTS.md
  src/components/layout/Footer.tsx
  src/components/tutorial/HintsPanel.tsx
  src/components/tutorial/InstructionsPanel.tsx
  src/components/tutorial/LessonContent.tsx
  src/components/tutorial/LessonHeader.tsx
  src/config/index.ts
  src/config/site.ts
  src/routes/tutorial.tsx
Due: biome

refactor(demos): remove legacy demo pages
  src/pages/demos/AchievementsDemo.tsx
  src/pages/demos/AssessmentDemo.tsx
  src/pages/demos/EvolutionDemo.tsx
  src/pages/demos/GeneticDemo.tsx
  src/pages/demos/MutationDemo.tsx
  src/pages/demos/PopulationDemo.tsx
  src/pages/demos/TimelineDemo.tsx
Due: biome

refactor(site): centralize canvas rendering via useRenderGenome hook
  .gitignore
  .lefthook.yml
  src/components/CanvasPreview.tsx
  src/components/diff-viewer/CanvasPanel.tsx
  src/hooks/useRenderGenome.ts
  src/routes/demos/timeline.tsx
  src/utils/canvas-export.ts
  tests/components/PlaygroundToolbar.test.tsx
Due: biome

chore: add GitHub label manager for consistent issue labeling
  .github/labels.yml
  bun.lock
  package.json
Due: biome

test(e2e): expand playwright coverage with shared build config
  build.config.ts
  e2e/accessibility/aria-labels.spec.ts
  e2e/accessibility/landmarks.spec.ts
  e2e/dashboards/learning-paths.spec.ts
  e2e/dashboards/research.spec.ts
  e2e/dashboards/teacher-dashboard.spec.ts
  e2e/demos/mutation-frameshift.spec.ts
  e2e/demos/mutation-lab-loads.spec.ts
  e2e/demos/mutation-missense.spec.ts
  e2e/demos/mutation-silent.spec.ts
  e2e/demos/timeline-capture.spec.ts
  e2e/demos/timeline-controls.spec.ts
  e2e/demos/timeline-loads.spec.ts
  e2e/demos/timeline-speed.spec.ts
  e2e/navigation/footer.spec.ts
  e2e/navigation/github-link.spec.ts
  e2e/navigation/more-dropdown.spec.ts
  e2e/navigation/theme-toggle.spec.ts
  e2e/tutorial/hints.spec.ts
  e2e/tutorial/lesson-navigation.spec.ts
  e2e/tutorial/lesson-validation.spec.ts
  e2e/tutorial/tutorial-structure.spec.ts
  package.json
  playwright.config.ts
  vite.config.ts
Due: biome

build: migrate CI workflows to bun and fix flaky e2e tests
  .github/workflows/copilot-setup-steps.yml
  .github/workflows/deploy.yml
  .github/workflows/playwright.yml
  docs/CLI.md
  e2e/dashboards/learning-paths.spec.ts
  e2e/dashboards/research.spec.ts
  e2e/dashboards/teacher-dashboard.spec.ts
  src/components/layout/MobileMenu.tsx
  vite.config.ts
Due: biome

chore: enhance review script with structured modes and gh cli PR support
  .github/labels.yml
  .github/workflows/playwright.yml
  .opencode/command/review.sh
  package.json
Due: biome

fix: address CodeRabbit findings from PR #6
  src/components/PlaygroundEditor.tsx
  src/components/tutorial/InstructionsPanel.tsx
  src/hooks/useRenderGenome.ts
  src/routes/demos/timeline.tsx
  src/ui/icons/actions.tsx
Due: biome

fix: use bunx in playwright agent and fix markdown formatting
  .github/agents/playwright-test-generator.agent.md
Due: none

fix(e2e): heal failing Playwright tests and optimize CI config
  e2e/dashboards/research.spec.ts
  e2e/dashboards/teacher-dashboard.spec.ts
  e2e/demos/mutation-missense.spec.ts
  e2e/demos/timeline-capture.spec.ts
  e2e/demos/timeline-loads.spec.ts
  e2e/file-operations/share-link.spec.ts
  e2e/gallery/load-from-gallery.spec.ts
  e2e/tutorial/hints.spec.ts
  e2e/tutorial/lesson-navigation.spec.ts
  e2e/tutorial/lesson-validation.spec.ts
  e2e/tutorial/tutorial-structure.spec.ts
  playwright.config.ts
Due: biome

ci(playwright): add GitHub annotations, JUnit reporter, and Codecov integration
  .github/workflows/playwright.yml
  playwright.config.ts
Due: biome

fix(e2e): resolve cross-browser test failures for Firefox/WebKit
  .opencode/command/review.md
  e2e/dashboards/teacher-dashboard.spec.ts
  e2e/file-operations/copy-genome.spec.ts
  e2e/file-operations/share-link.spec.ts
  e2e/navigation/more-dropdown.spec.ts
  e2e/tutorial/lesson-navigation.spec.ts
Due: biome

chore: standardize line wrapping in opencode prompts and commands
  .opencode/command/commit.md
  .opencode/command/hello.md
  .opencode/command/issues.md
  .opencode/command/review.md
  .opencode/command/spellcheck.md
  .opencode/command/suggest-refactor.md
  .opencode/prompts/playwright-test-generator.md
  .opencode/prompts/playwright-test-healer.md
  .opencode/prompts/playwright-test-planner.md
Due: none

test(e2e): improve test robustness with specific assertions and UI feedback
  .opencode/command/review.md
  e2e/accessibility/aria-labels.spec.ts
  e2e/accessibility/landmarks.spec.ts
  e2e/demos/mutation-frameshift.spec.ts
  e2e/demos/mutation-silent.spec.ts
  e2e/demos/timeline-capture.spec.ts
  e2e/demos/timeline-controls.spec.ts
  e2e/demos/timeline-speed.spec.ts
  e2e/errors/invalid-syntax.spec.ts
  e2e/file-operations/save-genome.spec.ts
  e2e/file-operations/share-link.spec.ts
  e2e/navigation/footer.spec.ts
  e2e/navigation/theme-toggle.spec.ts
  e2e/playground/codon-reference.spec.ts
  e2e/playground/undo-redo.spec.ts
  e2e/responsive/mobile-layout.spec.ts
  e2e/tutorial/lesson-validation.spec.ts
  src/components/PlaygroundToolbar.tsx
  src/components/tutorial/ModuleSidebar.tsx
  src/ui/icons/navigation.tsx
Due: biome

test(e2e): replace flaky selectors with data-testids and deterministic waits
  .opencode/command/review.md
  .vscode/mcp.json
  build.config.ts
  e2e/accessibility/aria-labels.spec.ts
  e2e/accessibility/landmarks.spec.ts
  e2e/demos/mutation-missense.spec.ts
  e2e/navigation/main-nav.spec.ts
  e2e/playground/undo-redo.spec.ts
  e2e/tutorial/lesson-navigation.spec.ts
  src/app.css
  src/components/CanvasPreview.tsx
  src/components/PlaygroundToolbar.tsx
  src/components/diff-viewer/DiffViewer.tsx
  src/components/layout/MobileMenu.tsx
  src/components/tutorial/ModuleSidebar.tsx
  tests/components/PlaygroundToolbar.test.tsx
  tests/hooks/useRenderGenome.test.ts
Due: biome, format-css

fix(a11y): improve keyboard navigation and test reliability
  .opencode/command/review.md
  e2e/accessibility/aria-labels.spec.ts
  e2e/accessibility/landmarks.spec.ts
  e2e/demos/mutation-frameshift.spec.ts
  e2e/demos/mutation-silent.spec.ts
  e2e/demos/timeline-capture.spec.ts
  e2e/demos/timeline-controls.spec.ts
  e2e/navigation/theme-toggle.spec.ts
  e2e/tutorial/lesson-validation.spec.ts
  src/components/CanvasPreview.tsx
  src/components/PlaygroundToolbar.tsx
  src/components/layout/Navigation.tsx
  src/components/tutorial/LessonContent.tsx
  src/pages/demos/timeline/TimelineControls.tsx
Due: biome

site(a11y): enable screen reader support for canvas, forms, and modals
  bun.lock
  package.json
  src/components/CanvasPreview.tsx
  src/components/CodonReference.tsx
  src/components/RangeSlider.tsx
  src/components/Select.tsx
  src/components/diff-viewer/CanvasPanel.tsx
  src/components/gallery/ExampleCard.tsx
  src/components/gallery/GalleryFilters.tsx
  src/components/gallery/PreviewModal.tsx
  src/components/tutorial/CodeEditor.tsx
  src/pages/demos/assessment/GenomeCanvas.tsx
  src/pages/demos/evolution/CandidateGrid.tsx
  src/pages/demos/evolution/ParentPanel.tsx
  src/pages/demos/genetic/FitnessChart.tsx
  src/pages/demos/genetic/PopulationGrid.tsx
  src/pages/demos/timeline/TimelineControls.tsx
  src/routes/demos/population.tsx
  src/routes/demos/timeline.tsx
  tests/components/CodonReference.test.tsx
Due: biome

site(a11y): improve keyboard navigation and WCAG compliance
  src/components/Button.tsx
  src/components/Card.tsx
  src/components/FilterToggle.tsx
  src/components/Layout.tsx
  src/components/layout/Footer.tsx
  src/components/layout/Header.tsx
  src/components/layout/MobileMenu.tsx
  src/components/layout/ThemeToggle.tsx
  src/pages/dashboards/teacher/EngagementTable.tsx
  src/routes/demos/evolution.tsx
  src/routes/demos/genetic.tsx
  src/routes/demos/mutation.tsx
Due: biome

site(a11y): ensure form controls and menus are accessible to screen readers
  src/components/CodonReference.tsx
  src/components/PlaygroundToolbar.tsx
  src/components/gallery/GalleryFilters.tsx
  src/components/layout/NavDropdown.tsx
  src/pages/dashboards/TeacherDashboard.tsx
  src/pages/demos/timeline/TimelineControls.tsx
  src/routes/dashboards/teacher.tsx
  src/routes/demos/mutation.tsx
  tests/components/PlaygroundToolbar.test.tsx
Due: biome

chore: add recent commit log context to commit command
  .opencode/command/commit.md
Due: none

test(e2e): improve test reliability with better selectors and assertions
  .opencode/command/review.md
  e2e/demos/mutation-frameshift.spec.ts
  e2e/demos/mutation-missense.spec.ts
  e2e/demos/timeline-capture.spec.ts
  e2e/navigation/theme-toggle.spec.ts
  e2e/playground/undo-redo.spec.ts
  e2e/tutorial/lesson-navigation.spec.ts
Due: biome

site: use explicit header height for maintainable sidebar layout
  src/app.css
  src/components/layout/Header.tsx
Due: biome, format-css

fix(a11y): use unique IDs for modals and fix e2e test selectors
  .opencode/agent/git-committer.md
  .opencode/command/commit.md
  e2e/accessibility/landmarks.spec.ts
  e2e/demos/mutation-frameshift.spec.ts
  e2e/demos/mutation-lab-loads.spec.ts
  e2e/demos/mutation-missense.spec.ts
  e2e/demos/mutation-silent.spec.ts
  e2e/gallery/search-examples.spec.ts
  e2e/playground/codon-reference.spec.ts
  e2e/responsive/mobile-layout.spec.ts
  e2e/tutorial/lesson-validation.spec.ts
  src/components/CanvasPreview.tsx
  src/components/FilterToggle.tsx
  src/components/KeyboardShortcutsHelp.tsx
  src/components/PlaygroundToolbar.tsx
  src/components/diff-viewer/CanvasPanel.tsx
  src/components/gallery/PreviewModal.tsx
  src/components/layout/NavDropdown.tsx
  src/components/tutorial/ModuleSidebar.tsx
  tests/components/KeyboardShortcutsHelp.test.tsx
Due: biome

refactor: clean up modal/menu components
  src/components/gallery/PreviewModal.tsx
  src/components/layout/MobileMenu.tsx
  src/components/layout/NavDropdown.tsx
Due: biome

fix(a11y): add aria-label to canvas error state and stabilize flaky test
  e2e/demos/mutation-missense.spec.ts
  src/components/diff-viewer/CanvasPanel.tsx
Due: biome

site(a11y): improve screen reader UX and fix type redundancies
  AGENTS.md
  src/components/RangeSlider.tsx
  src/components/Select.tsx
  src/components/tutorial/LessonContent.tsx
  src/routes/demos/evolution.tsx
  src/routes/demos/genetic.tsx
  src/routes/demos/timeline.tsx
Due: biome

test: add data-testid selectors for reliable mobile menu testing
  src/components/PlaygroundToolbar.tsx
  tests/components/PlaygroundToolbar.test.tsx
Due: biome

test: verify skipClear option actually prevents canvas clearing
  tests/hooks/useRenderGenome.test.ts
  tests/test-utils/canvas-mock.ts
Due: biome

test(e2e): fix flaky tests and improve drawer a11y with focus trap
  e2e/accessibility/aria-labels.spec.ts
  e2e/demos/mutation-frameshift.spec.ts
  e2e/demos/timeline-controls.spec.ts
  e2e/navigation/theme-toggle.spec.ts
  e2e/tutorial/lesson-navigation.spec.ts
  src/components/tutorial/ModuleSidebar.tsx
Due: biome

test(e2e): use role-based canvas selectors and wait for render completion
  e2e/demos/mutation-silent.spec.ts
  src/components/diff-viewer/CanvasPanel.tsx
Due: biome

test(e2e): wait for canvas render completion before assertions
  e2e/demos/mutation-missense.spec.ts
  e2e/tutorial/lesson-validation.spec.ts
  src/components/CanvasPreview.tsx
Due: biome

build: remove redundant github_token from opencode workflow
  .github/workflows/opencode.yml
Due: none

site(a11y): add role=presentation to NavDropdown section headers
  .opencode/agent/git-committer.md
  src/components/layout/NavDropdown.tsx
Due: biome

site: extract scroll lock logic into reusable hook with ref counting
  e2e/accessibility/landmarks.spec.ts
  e2e/demos/mutation-missense.spec.ts
  e2e/demos/timeline-capture.spec.ts
  e2e/demos/timeline-controls.spec.ts
  e2e/navigation/theme-toggle.spec.ts
  e2e/responsive/mobile-layout.spec.ts
  e2e/tutorial/lesson-validation.spec.ts
  src/components/layout/MobileMenu.tsx
  src/components/tutorial/CodeEditor.tsx
  src/components/tutorial/ModuleSidebar.tsx
  src/hooks/index.ts
  src/hooks/useScrollLock.ts
  tests/hooks/useScrollLock.test.ts
Due: biome

refactor(a11y): improve mobile menu and tutorial component patterns
  src/components/PlaygroundToolbar.tsx
  src/components/layout/Header.tsx
  src/components/layout/MobileMenu.tsx
  src/components/tutorial/LessonContent.tsx
  tests/components/PlaygroundToolbar.test.tsx
Due: biome
